@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import url('https://fonts.googleapis.com/css?family=Dosis:300');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
$red: linear-gradient(170deg, rgb(16, 88, 35) 50vh, rgb(18, 81, 39) 50vh);
$black: rgb(6, 5, 5);

html,
body {
  li{

    cursor: url(black_29.png),auto;

  }
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hero {
  margin: auto;
  visibility: hidden;
  height: 100vh;
}
.App{
  // text-align: center;
  z-index: 1;
  width: 100%;
  height: 100em;
  // position: fixed;
  // overflow: hidden;

  
  top: 0;
  left: 0;
// background: rgb(13, 40, 24);
  background: linear-gradient(160deg, rgb(13, 40, 24) 50vh, rgb(4, 71, 28) 50vh);
  cursor: url(black_29.png),auto;;
}
a{
  cursor: url(black_29.png),auto;;
}

.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  .wrapper {
    padding: 0 48px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      
    }
  }
}

h1 {
  font-weight: 500;
  font-size: 100px;
  margin-bottom: 24px;
  .hero-content-line {
    margin: 0;
    overflow: hidden;
    color: rgb(255, 234, 0);
    text-shadow: 3px 3px 4px black;
    .hero-content-line-inner {
    }
  }
}
.vod{
  margin-bottom: 100px;
}
.Registr{
  visibility: hidden;
  background:rgb(16, 0, 43);
  height: 410px;
  width: 540px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 4px 30px -5px rgba(0,0,0,0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Warning{
  visibility: hidden;
  background:#ffea00;
  height: 290px;
  width: 440px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 4px 30px -5px rgba(0,0,0,0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apl{
  font-family: 'Play', sans-serif;;
  // margin-bottom: 30px;
  margin-left: 110px;
}
.useprognoz{
  margin-left: 50px;
  margin-top: 10px;
  font-family: 'Play', sans-serif;;
  font-size: 35px;
  margin-bottom: 80px;
}
.cancel{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  background:rgb(240, 240, 239);
  width:160px;
  height: 50px;
  border-radius: 30px;
  top: 220px;
  left: 40px;
  position: absolute;
  font-size: 18px;
}
.continue{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  background:rgb(240, 240, 239);
  
  width:160px;
  height: 50px;
  border-radius: 30px;
  top: 220px;
  right: 40px;
  position: absolute;
  font-size: 18px;
}
.Login{
  visibility: hidden;
  background:rgb(16, 0, 43);
  height: 410px;
  width: 540px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0px 4px 30px -5px rgba(0,0,0,0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container{
position: relative;
margin-bottom: 30px;
width: 340px;

.input-container{
  width: 80%;
  margin-bottom: 40px;
}
}
input{
font-family: 'Dosis', sans-serif;
letter-spacing: 1.3px;
box-sizing: border-box;
background: transparent;width: 100%;
border: none;
border-bottom: 1px solid rgb(16, 0, 43);
color: olive;
padding: 12px 6px 12px 36px;
font-size: 27px;
outline: none;
caret-color: rgv(229, 91, 141);
}
input:focus{
  border-bottom: 1px solid transparent;
  border-image: fill;
  border-image-slice: 1
}
input:focus + i{
  color: gold;
}
::placeholder {
  color: bisque;
  opacity: .4;
}
i{
  color: bisque;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: color .3s;
}
.signin{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  background:rgb(253, 231, 76);
  width:160px;
  height: 50px;
  border-radius: 30px;
  top: 260px;
  right: 195px;
  position: absolute;
  font-size: 18px;
  outline: none;
}
.registration{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px;
  background:rgb(253, 231, 76);
  width:160px;
  height: 50px;
  border-radius: 30px;
  top: 335px;
  right: 195px;
  position: absolute;
  font-size: 18px;
  outline: none;
}
.yandex{
  width: 128px;
  height: 128px;
  border-radius: 5px;
  top: 295px;
  right: 160px;
  position: absolute;
  background-image: url(ya.png);
}

.vk{
  width: 59px;
  height: 54px;
  border-radius: 6px;
  top: 331px;
  left: 190px;
  position: absolute;
  background-image: url(vk.png);


}
header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 2rem;
      text-decoration: none;
      color: white;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        // cursor: pointer;
        font-size: 2rem;
        mix-blend-mode: difference;
        cursor: url(black_29.png), auto;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: $black;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background: $red;
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 200px;
          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                // cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;
                a {
                  position: absolute;
                  color: #fff;
                  text-decoration: none;
                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }
          .info {
            // position: absolute;
            color: #fff;
            width: 300px;
            font-size: 23px;
            font-family: 'Play', sans-serif;
            text-shadow: 4px 4px 4px black;
            right: 50px;
            h2 {
              position: relative;
              text-align: center;
              font-size: 3rem;
              margin: 17px auto;
              // text-shadow: 4px 4px 4px black;
            
            
            }
            p {
              margin: 0 auto;
              font-size: 0.8rem;
            }
          }
        }
        .locations {
          position: absolute;
          bottom: -80px;
          color: #fff;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;
          span {
            // cursor: pointer;
            &:first-child {
              margin-left: 64px;
            }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;
            &:hover {
              color: #fff;
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
.hero-images {
  // visibility: hidden;
  width: 20%;
  height: 100vh;
  position: relative;
  .hero-images-inner {
    
    .hero-image {
      position: absolute;
      overflow: hidden;
      &.girl {
        top: 30px;
        right: 0px;
        width: 45%;
        height: 50%;
        animation-iteration-count: infinite;
      }
      &.boy {
        bottom: 160px;
        left: 15px;
        width: 52%;
        height: 65%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.slot-machine{
  position: absolute;
  top: 120px;
  right: 20%;
  }
  .textinput{
    font-size: 25px;
    color:rgb(255, 234, 0);
    text-shadow: 4px 4px 4px black;
    overflow: hidden;
     right: 50px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    
    // bottom:1px;
  }
  .inputnumber{
    position: absolute;
    top:250px;
    color:rgb(255, 234, 0);
   font-size: 40px;
   font-family: 'Dosis', sans-serif;
   width: 80px;
   right: 160px;
   padding: 28px 6px 12px 36px;
   z-index: 5;
  }
  .button-lucky{
    position: absolute;
    top:365px;
    right: 120px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.3px;
    background:transparent;
    color: rgb(255, 234, 0);
    text-shadow: 2px 2px 3px black;
    width:160px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    cursor: url(black_29.png), auto;
    
  }
  .random{
    font-size: 40px;
    position: absolute;
    top: 275px;
    right: 30px;
    color: rgb(255, 234, 0);
    font-family: 'Dosis', sans-serif;
    z-index: 5;
  }
  .inputpicture{
    
    position: absolute;
    top: 270px;
    right: 110px;
    z-index: 0;
  }
  .result{
    position: absolute;
    top: 440px;
    // right: 0px;
    z-index: 0;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color:rgb(255, 234, 0);
    text-shadow: 4px 4px 4px black;
  }
  .number{
    position: absolute;
    top: 270px;
    right: 0px;
    z-index: 0;
  }
  .cardd{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px ;
    padding: 10px;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }

  .infosport{
    display: flex;
    position: relative;
    top: 250;
    right: 0px;
    z-index: 5;
    border-radius: 15px;
    padding: 10px;
    background: wheat;
    width: 250px;
    height: 250px;
  }

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
