.info {
  color:rgb(223, 10, 10);
  display: flex;
  flex-wrap: wrap;
}

table{
  font-family: monospace;
  text-align: center;
  border-collapse: collapse;
}
.card{
border-top: 1px solid #8c8c8c
}
.str{
  border-top: 1px solid #8c8c8c;
  transition: .5s
}
th{
  font-weight: 300;
  padding: 5px 35px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 15px;
}
